<h1>Hola <%=current_user.email %></h1>
<%if current_user.avatar.blank? %>
    <%= image_tag 'user.png', class:"img-fluid rounded-start",height: 300, width: 300 %>
 <%else%>
    <%= image_tag url_for(current_user.avatar),class:"img-fluid rounded-start",height: 300, width: 300%>  
<%end%>


<div class= "row"><strong><%=link_to "Inicio",root_path%></strong></div>