<div class="small-container center-block">
  <h1>Editar Categoria</h1>

  <%= render "form", category: @category %>

  <div>
    <%= link_to "Mostrar esta categoría", @category %> |
    <%= link_to "regresar a categorias", categories_path %>
  </div>
</div> 